alabaster==1.0.0
antlr4-python3-runtime==4.8
babel==2.17.0
bitarray==3.5.2
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
Cython==3.1.2
docutils==0.21.2
fairseq @ file:///home/sachin/code/dwani_org/new_translate/IndicTrans2/fairseq
filelock==3.13.1
fsspec==2024.6.1
hydra-core==1.0.7
idna==3.10
imagesize==1.4.1
indic-nlp-library==0.92
Jinja2==3.1.4
joblib==1.5.1
lxml==6.0.0
MarkupSafe==2.1.5
Morfessor==2.0.6
mpmath==1.3.0
networkx==3.3
numpy==2.1.2
nvidia-cublas-cu12==12.8.3.14
nvidia-cuda-cupti-cu12==12.8.57
nvidia-cuda-nvrtc-cu12==12.8.61
nvidia-cuda-runtime-cu12==12.8.57
nvidia-cudnn-cu12==9.7.1.26
nvidia-cufft-cu12==11.3.3.41
nvidia-cufile-cu12==1.13.0.11
nvidia-curand-cu12==10.3.9.55
nvidia-cusolver-cu12==11.7.2.55
nvidia-cusparse-cu12==12.5.7.53
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.8.61
nvidia-nvtx-cu12==12.8.55
omegaconf==2.0.6
packaging==25.0
pandas==2.3.1
pillow==11.0.0
portalocker==3.2.0
pycparser==2.22
Pygments==2.19.2
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.4
sacrebleu==2.5.1
scikit-learn==1.7.1
scipy==1.15.3
sentencepiece==0.2.0
six==1.17.0
snowballstemmer==3.0.1
Sphinx==8.1.3
sphinx-argparse==0.5.2
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sympy==1.13.3
tabulate==0.9.0
threadpoolctl==3.6.0
tomli==2.2.1
torch==2.7.1+cu128
torchaudio==2.7.1+cu128
torchvision==0.22.1+cu128
tqdm==4.67.1
triton==3.3.1
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.5.0
